@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager

﻿@{
    ViewData["Title"] = "Home Page";
}



@if (TempData["warning"] != null)
{

    <div class="alert alert-warning" role="alert" style="width:30%;text-align:center;margin-left:380px;">@TempData["warning"]</div>
}

@{
    var user = await UserManager.GetUserAsync(User);
    var userId = user?.Id;
    }


<div class="container">
    <br>

    <p class="whitetext"> LEARNING IS THE SOURCE OF HUMAN PROGRESS </p>
    <br> <br>
    <form asp-action="AllCourses1" asp-controller="Home">
        <div class="input-box">
            <i class="uil uil-search"></i>
            <input style="width:700px;" type="text" placeholder="Search by course title..." name="Search_Data" />
        </div>
    </form>

    <br> <br>
    <div>
        <a class="button-81" role="button" asp-action="AllCourses1" asp-controller="Home">View Courses</a>
        <a class="button-81" role="button" asp-action="Portfolio" asp-controller="Account" asp-route-id="@userId">Edit Portfolio</a>
    </div>
    <!--Our Services Section-->
    <div class="section" id="services">
        <p class="title"> OUR SERVICES </p>
        <div class="cards-container">
            <div class="card">
                <div class="icon-circle">
                    <img src="~/images/portfolioicon.png" alt="portfolio-icon" width="60px" height="60px" />
                </div>
                <h2>E-Portfolio</h2>
                <p>
                    showcase your skills, create
                    a professional portfolio by adding
                    your technical skills, completed
                    university courses, certificates you
                    have, online courses, any projects
                    you made, and more...
                    So why wait?
                    Create your portfolio now!
                </p>
                <a asp-action="Portfolio" asp-controller="Account" asp-route-id="@userId" class="card-button">View Portfolio</a>
            </div>

            <div class="card">
                <div class="icon-circle">
                    <img src="~/images/coursesicons.png" alt="courses-icon" width="60px" height="60px" />
                </div>
                <h2>Courses Library</h2>
                <p>
                    find the best technical courses
                    that suit your needs! Whether
                    you're a beginner or an experienced
                    professional we have courses to
                    meet your needs.
                    So why wait?
                    Explore courses and start your
                    journey toward success!
                </p>
                <a asp-action="AllCourses1" asp-controller="Home" class="card-button">View Courses</a>
            </div>
        </div>
    </div>
    <br> <br> <br>
    <!--About Us Section-->
    <div class="section about" id="about">
        <p class="title"> ABOUT US </p>
        <!--<img src="college1.jpeg" alt="courses-icon"  width="320px" height="214px" style="float:right"/>-->
        <p class="aboutus">
            Welcome to our online courses website, where we've curated the best
            technical courses to help you advance your career and achieve your learning goals. <br> <br>
            Our objective is to recommend persgnalized courses that fit your needs, whether you're looking to learn a new programming language, master
            a particular skill or prepare for a certification exam, we've got you covered. <br> <br>
            Join us today and discover a world of high-quality technical courses
            that will help you achieve your career goals...
        </p>
    </div>
    <!--Contact Us Section-->
    <div class="section" id="contact">
        <p class="title"> WE ARE STANDING BY TO HELP </p>
        <div class="cards-container">
            <div class="card contact-card">
                <div class="icon-circle">
                    <i class="uil-fast-mail"></i>
                </div>
                <h2>EMAIL US</h2>
                <p> CoStudy@gmail.com </p>
            </div>
            <div class="card contact-card">
                <div class="icon-circle">
                    <i class="uil-phone"></i>
                </div>
                <h2>CALL OR TEXT</h2>
                <p> 0709811455 </p>
            </div>
            <div class="card contact-card">
                <div class="icon-circle">
                    <i class="uil-postcard"></i>
                </div>
                <h2>FOLLOW US</h2>
                <p> Twitter & IG: CoStudy </p>
            </div>
        </div>
    </div>
</div>

