@model ForgotPasswordViewModel

@{


    ViewData["Title"] = "Forgot Password";
    Layout = null;
}





<!DOCTYPE html>
<html lang="en">
<!--colors: //366CC7 blue //dark gray 898C96 //gray ADAEB3-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="icon" type="image/x-icon" href="~/images/favicon.png" />
    <link rel="stylesheet" href="~/css/regester.css">
    <title>CoStudy</title>
</head>
<body>
    <!--sign in form-->
    <img src="~/images/logo.png" alt="website-logo" width="130em" height="100em" />
    <div class="wrap-login100 main">
        <p class="font"> Change password </p>
        <form asp-action="ForgotPassword" asp-controller="Account" method="post">
            <div asp-validation-summary="All" class="text-danger" style="color:darkred;"></div>
            <div class="container">
                <div>

                    <label asp-for="Email"><b>Email</b></label>
                    <input asp-for="Email" placeholder="Enter your email" required>
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>


                <div>

                    <input type="submit" value="submit" style="background-color: #366CC7; cursor:pointer;color:white;" />

                </div>

            </div>
        </form>
    </div>
    <!--end of sign in form-->

</body>
</html>



