@model LoginViewModel


@{


    ViewData["Title"] = "Login";
}




<ntml>


    <body>

        <form asp-action="Login" asp-controller="Account">


            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email"  class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>


            </div>

            <input type="submit" value="login" asp-action="Login" class="btn btn-success"/>
            <a asp-action="Register" >Don't have an account?</a>


            <div asp-validation-summary="All" class="text-danger"></div>

        </form>



    </body>


</ntml>