
@{

    ViewData["Title"] = "Admin Dashboard";

}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p style="font-size:25px;">Welcome @User.Identity.Name to CoStudy Admin Dashboard!!</p>
